@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

        <section class="map-section">
            <iframe 
                title="map overview"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.hitta.se/kartan?s=814b0411"
                allowfullscreen>
            </iframe>
        </section>