@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var subscribeForm = new Crito.Models.SubscribeForm();
}
        <section id="subscribe" class="signup-section">
            <h3>Get News Updates By Signup</h3>
            <div class="form" method="post">
        @using (Html.BeginUmbracoForm("Index", "Subscribe", FormMethod.Post, new { id = "subscribe-form" }))
                {
                <div asp-validation-summary="ModelOnly"></div>
                <span class="red-title"  asp-validation-for="@subscribeForm.Email"></span>
                <input placeholder="username@domain.com" asp-for="@subscribeForm.Email" type="email"></input>
                <button title="subscribe" type="submit" class="">
                    Subscribe
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>
                </button>
                }
            </div>
            <img src="~/images/effects/background-wavy-lines.svg" alt="background lines gray"/>
        </section>
        <script src="~/scripts/validation.js"></script>

