@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

        <section class="team-section">
            <div>
                <p class="red-title">Meet Our Team</p>
                <div class="title-div">
                    <h3>Experience Team Members</h3>
                    <a title="browse team" target="_blank" href="/contact">Browse Team
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>        
                    </a>
                </div>
                <div class="team-members">
                    <div>
                        <img src="images/team/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="a woman who work in the team, got brown and short curly hair, big smile."/>
                        <h5>Kristine Palmer</h5>
                        <p>Chef Operation Officer</p>
                    </div>
                    <div>
                        <img src="images/team/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="a man i a suit got black short hair working in the team."/>
                        <h5>Mark Aubri</h5>
                        <p>Senior Consultant</p>
                    </div>
                    <div>
                        <img src="images/team/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="a woman who work in the team, got black long and curly hair, big smile, black dress, holding a magazine."/>
                        <h5>Kimberly Hansen</h5>
                        <p>Senior Consultant</p>
                    </div>
                    <div>
                        <img src="images/team/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="a man with short black hair, working in the team."/>
                        <h5>Justin Willoman</h5>
                        <p>Senior Tech Consultant</p>
                    </div>
                </div>
            </div>
        </section>
